[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta
[user]
  name = Hien Vien
  email = hienmvien@gmail.com
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[includeIf "gitdir:~/git/"]
  path = ~/.gitconfig-work
[branch]
  # do rebase instead of merge on pull
  autosetuprebase = always
[pull]
  rebase = true
[push]
  # push only the current branch to origin
  default = tracking
  autoSetupRemote = true
[rebase]
  updateRefs = true
[alias]
  st = status
  ci = commit
  cia = commit --amend
  co = checkout
  br = branch
  sb = show-branch
  cp = cherry-pick
  staged = diff --cached
  rb = rebase
  rbc = rebase --continue
  rbs = rebase --skip
  rl = reflog
  rs = remote show
  rt = remote
  ru = remote update
  rp = remote prune
  sm = submodule
  touch = "!git commit --amend --date=$date"
  lswt = worktree list
  mkwt = "!f() { git worktree add \"$(git rev-parse --show-toplevel)+$@\"; }; f"
  rmwt = "!f() { git worktree remove \"$(git rev-parse --show-toplevel)+$@\"; }; f"
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[url "https://github.com/"]
  insteadof = ssh://git@github.com/
[color]
  ui = auto
[rebase]
	updateRefs = true
