.vim/backup/*
workspace/*
Library/*
bin/*
var/*
work/*
.Trash/*
android-sdks/*
.android/*
/NetBeansProjects/dashboard/nbproject/private/
/NetBeansProjects/web/nbproject/private/
.dropbox/*
.ivy2/*
.node-gyp/*
.npm/*
Documents/*
vpworkspace/*
tmp/*
Dropbox/*
Downloads/*
Music/*

