[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:hmvien/prezto.git
[submodule "i3blocks/.config/i3blocks/blocklets/i3blocks-battery-plus"]
	path = i3blocks/.config/i3blocks/blocklets/i3blocks-battery-plus
	url = git@github.com:hastinbe/i3blocks-battery-plus.git
