*
.vim/bundle/*

!.gitmodules
!.gitremotes
!.gitignore
!.zprezto
!.maximum-awesome

!.vim
!.vim/bundle/vundle
!.zshrc
!.zsh
!.vimrc
!setup.sh
!.dir_colors
!.gitconfig
!.bashrc
!windows
!windows/conemu.xml
